#a1{
color:white;
font-family:inherit;
font-weight:bolder;
font-size:40px;
line-height:50px;
text-decoration: none;
}
.header{
background-color:#46629e;
color:#000;
min-height: 80px;
border:0px;
}
.inn{
width:80%;margin:auto;
}
.logo{
float:left;
padding:15px
}
.top{
		position: absolute;
		height: 15%;
		width: 100%;
		background-color: #375d9e;
		color: #fff;
	}
	#li{
		width:300px;
	}
	#em{
		width:300px;
	}
    .but{
		background-color: #42b72a;
		border-color: #42b72a; 
    	border-radius: 2px;
    	color: white;
    	height: 30px;
    	position:absolute; 
    	top:50px;
    	left:350px;
    	width: 80px;
	}
	.form-control{
		position:relative; top:-5px;width:300px;
	}
	.mid{
		position: absolute;
		top: 15%;
		height: 90%;
		width: 100%;
		background: #e9ebee;
	}
	.mid1{
		position: absolute;
		float: center;
		top: 70px;
		left: 350px;
		background: white;
		width: 45%;
		height: 70%;
    	border-radius: 2px;
	}
	a.a1:hover{
		color: white;
		text-decoration: none;
	}
	a.a2{
		position:relative;
		top:50px;
		left:90px;
	}
	.lfb{
		font-size: 18px;
    	line-height: 22px;
	}
	.bb{
		border: 1px solid;
    	border-radius: 2px;
    	position:absolute;
    	background-color:#42b72a;
    	color:#fff;
    	border-color: #42b72a;
    	left:50px;
    	height:40px;
    	width:200px;
	}
	.bottom{
		position:absolute;
		top: 100%;
		height: 40%;
		width: 100%;
		background: white;
	}
	.logo{
		float:left;
      padding:15px
		
	}

	p{
		position:absolute;
		left: 50%;
	}
	.logo1{
		margin-top:25px;
		font-size: 30px;
		color: white;
		font-weight: 900;
		text-decoration: none;
	}
	.lfb{
		position:absolute;
		left:210px;
		top:50px;
	}
	#fm{
		position: absolute; 
		top:100px;
		left:140px;
	}
